:root {
  --intro-width: 450px;
  --intro-ratio: (549/398);
  --intro-height: calc(var(--intro-width) / var(--intro-ratio));
  --nav-height: 75px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  font-family: "transducer", sans-serif;
  flex-direction: column;
  align-items: center;
  display: flex;
}
nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 12px;
  width: 100%;
  min-height: var(--nav-height);
}
#contact-logos {
  align-items: flex-end;
  display: flex;
}
nav img {
  max-width: 40px;
}
nav img:hover {
  filter: invert(100%);
}
.icon-container.github {
  margin-right: 24px;
}
#main-logo {
  font-size: 32px;
}
#main-logo::selection {
  color: #fff !important
}
#hamburger {
  display: flex;
}
.general-transition {
  transition-timing-function: ease;
  transition-duration: 0.7s;
}
.icon-container {
  transition-property: background-color;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 8px;
}
.icon-container:hover {
  background-color: #000;
}
nav img {
  filter: invert(0%);
  transition-property: filter;
}
.icon-container:hover img {
  filter: invert(100%);
}
#intro {
  transition: height ease-in-out 1.5s;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #fff;
  font-size: 121px;
  width: 100%;
  display: flex;
  z-index: 10;
  height: 0px;
  top: 0;
  overflow: hidden;
}
#intro span {
  justify-content: center;
  top: calc(50vh - 25px);
  align-items: center;
  position: absolute;
  display: flex;
  height: 50px;
}
#intro.viewing {
  height: 100%;
}
.no-scroll {
  overflow: hidden;
}
.bottom-shadow {
  box-shadow: 0 3px 34px 0px #0000001a;
}
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  will-change: scroll-position;
}
.section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  transition: transform 1s cubic-bezier(0.15, 0.63, 0.38, 1);
}
.white-bg {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro-initials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  position: absolute;
  overflow: hidden;
  top: calc(50vh - (var(--intro-height)/2));
}
#intro-initials-container img {
  position: absolute;
  height: 100%;
  width: 100%;
}
#intro-initials-container img:first-child {
  animation: rotate 10s linear infinite;
  width: var(--intro-width);
  height: var(--intro-width);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.first.section {
  background: url("../assets/images/intro-background.jpg") no-repeat center;
  background-size: cover;
}
.initial-dimentions {
  width: var(--intro-width);
  height: var(--intro-height);
}
.intro-text-white {
  position: absolute;
  top: calc(50vh - (var(--intro-height)/2) - var(--nav-height));
}

@media (max-width: 768px) {
  :root {
    --intro-width: 330px;
    --nav-height: 68px;
  }
  #main-logo {
    font-size: 28px;
  }
  nav img {
    max-width: 32px;
  }
  .icon-container.github {
    margin-right: 12px;
  }
}