@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src:  local('Menlo Regular'),
        url('../assets/fonts/Menlo.woff') format('woff'),
        url('../assets/fonts/Menlo.ttc') format('truetype');
}
:root {
  --intro-width: 450px;
  --intro-ratio: (549/398);
  --intro-height: calc(var(--intro-width) / var(--intro-ratio));
  --nav-height: 75px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.no-scroll {
  overflow: hidden;
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "transducer", sans-serif;
  flex-direction: column;
  align-items: center;
  display: flex;
}
nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 12px;
  width: 100%;
  min-height: var(--nav-height);
}
.nav-container {
  width: 190px;
}
#contact-logos {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}
nav img {
  max-width: 40px;
}
nav img:hover {
  filter: invert(100%);
}
.icon-container.github {
  margin-right: 24px;
}
#main-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#main-logo img {
  max-width: 400px;
  position: absolute;
}
#main-logo img:hover {
  filter: unset;
}
#hamburger {
  display: flex;
  width: max-content;
}
.general-transition {
  transition-timing-function: ease;
  transition-duration: 0.7s;
}
.icon-container {
  transition-property: background-color;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 8px;
}
.icon-container:hover {
  background-color: #000;
}
nav img {
  filter: invert(0%);
  transition-property: filter;
}
.icon-container:hover img {
  filter: invert(100%);
}
#intro {
  transition: height ease-in-out 1.5s;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #fff;
  font-size: 121px;
  width: 100%;
  display: flex;
  z-index: 10;
  height: 0px;
  top: 0;
  overflow: hidden;
}
#intro span {
  justify-content: center;
  top: calc(50vh - 25px);
  align-items: center;
  position: absolute;
  display: flex;
  height: 50px;
}
#intro.viewing {
  height: 100%;
}
.bottom-shadow {
  box-shadow: 0 3px 34px 0px #0000001a;
}
main {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  will-change: scroll-position;
}
.section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  transition: transform 1s cubic-bezier(0.15, 0.63, 0.38, 1);
}
.white-bg {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro-initials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: calc(50vh - (var(--intro-height)/2));
  width: var(--intro-width);
  height: var(--intro-height);
}
#intro-initials-container img {
  position: absolute;
  height: 100%;
  width: 100%;
}
#intro-initials-container img:first-child {
  animation: rotate 10s linear infinite;
  width: var(--intro-width);
  height: var(--intro-width);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.first.section {
  background: url("../assets/images/intro-background.jpg") no-repeat center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
}
.initial-dimentions {
  width: calc(var(--intro-width) + 2px) !important;
  height: calc(var(--intro-height) + 2px) !important;
}
.intro-text-white {
  position: absolute;
  top: calc(50vh - (var(--intro-height)/2) - var(--nav-height));
  transition: width ease-in-out 0.75s;
}
.disappear {
  width: 0px !important;
}
#welcome-text {
  font-family: 'Menlo Regular';
  color: #fff;
  font-size: 64px;
  display: flex;
  align-items: center;
  margin-top: 25vh;
}
.ti-cursor {
  position: relative;
  left: 18px;
}
#scroll-for-more {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5vh;
  font-family: 'transducer';
  color: #fff;
  letter-spacing: 6px;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  transform: translateY(0vh);
  transition: transform ease-in-out 0.75s, bottom ease-in-out 0.75s;
}
#scroll-for-more.hide {
  bottom: -64px;
}
#scroll-for-more img {
  width: 98px;
  margin-top: 24px;
}
#scroll-for-more.oscillate {
  animation: oscillate 4s ease-in-out infinite;
}

@keyframes oscillate {
  0% {
    transform: translateY(0vh);
  }
  15% {
    transform: translateY(1vh);
  }
  25% {
    transform: translateY(0vh);
  }
  35% {
    transform: translateY(1vh);
  }
  45% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@media (max-width: 768px) {
  :root {
    --intro-width: 330px;
    --nav-height: 54px;
  }
  #main-logo {
    font-size: 24px;
  }
  nav {
    padding: 0 8px;
  }
  nav img {
    max-width: 24px;
  }
  .icon-container.github {
    margin-right: 0;
  }
  #welcome-text {
    font-size: 54px;
  }
}